<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produect</title>
    <!-- build:prod_css -->
    <!-- endbuild -->

    <!-- build:dev_css -->
    <link rel="stylesheet" href="../../public/css/all.css" />
    <link rel="stylesheet" href="../../public/css/index.css" />
    <!-- endbuild -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
        <div class="container d-flex">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand d-none d-md-block" href="./index.html">
                <img src="../img/logo-all-dark.svg" width="220" alt="">
            </a>
            <a class="navbar-brand d-block d-md-none" href="#">
                <img src="../img/logotype.svg" width="117" alt="">
            </a>
            <div class="order-md-1">
                <a href="./cart.html">
                    <i class="fas fa-shopping-cart fa-lg text-hex"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">首頁</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./product.html">甜點 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./login.html">登入</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="text-hide">餅乾屋</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-hex mb-md-3">
                <h4 class="text-center bg-primary-lighter py-3">您的購物車</h4>
                <div class="cart-item d-flex justify-content-between flex-column flex-md-row">
                    <div class="cart-left d-flex flex-grow-1 mr-md-2">
                        <div class="cart-left-left my-4 mr-4 flex-grow-1 flex-md-grow-0">
                            <div class="cart-image" style="background-image: url(../img/photo-1490474504059-bf2db5ab2348.jpeg);"></div>
                        </div>
                        <div class="cart-left-right d-flex justify-content-between flex-column flex-md-row flex-grow-1">
                            <div class="cart-left-left d-flex justify-content-center align-items-center mr-4">
                                <div class="">
                                    <span class="h5">焦糖馬卡龍</span>
                                    <br>
                                    <span class="h6">NT$ 450</span>
                                </div>
                            </div>
                            <div class="cart-left-right d-flex justify-content-center align-items-center">
                                <button class="btn btn-outline-hex rounded-0">-</button>
                                <input type="text" class="form-control input-number" value="2">
                                <button class="btn btn-outline-hex rounded-0">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="cart-right d-flex flex-md-row-reverse justify-content-end align-items-center my-3 my-md-0">
                        <a href="#" class="text-hex d-none d-md-block"><i class="fas fa-trash-alt"></i></a>
                        <span class="h5 mb-0 mr-md-3 pr-5">NT$ 900</span>
                    </div>
                </div>
                <div class="cart-item d-flex justify-content-between flex-column flex-md-row">
                    <div class="cart-left d-flex flex-grow-1 mr-md-2">
                        <div class="cart-left-left my-4 mr-4 flex-grow-1 flex-md-grow-0">
                            <div class="cart-image" style="background-image: url(../img/photo-1490474504059-bf2db5ab2348.jpeg);"></div>
                        </div>
                        <div class="cart-left-right d-flex flex-column justify-content-md-between flex-md-row my-4 flex-md-grow-1 align-items-center">
                            <div class="cart-left-left d-flex justify-content-center align-items-center mr-4">
                                <div class="">
                                    <span class="h5">焦糖馬卡龍</span>
                                    <br>
                                    <span class="h6">NT$ 450</span>
                                </div>
                            </div>
                            <div class="cart-left-right d-flex justify-content-center align-items-center">
                                <button class="btn btn-outline-hex rounded-0">-</button>
                                <input type="text" class="form-control input-number" value="2">
                                <button class="btn btn-outline-hex rounded-0">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="cart-right d-flex justify-content-between align-items-center">
                        <span class="h5 mb-0 mr-md-3 pr-5">NT$ 900</span>
                        <a href="#" class="text-hex d-none d-md-block"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <div class="cart-item d-flex justify-content-between flex-column flex-md-row">
                    <div class="cart-left d-flex flex-grow-1 mr-md-2">
                        <div class="cart-left-left my-4 mr-4 flex-grow-1 flex-md-grow-0">
                            <div class="cart-image" style="background-image: url(../img/photo-1490474504059-bf2db5ab2348.jpeg);"></div>
                        </div>
                        <div class="cart-left-right d-flex justify-content-between flex-column flex-md-row flex-grow-1">
                            <div class="cart-left-left d-flex justify-content-center align-items-center mr-4">
                                <div class="">
                                    <span class="h5">焦糖馬卡龍</span>
                                    <br>
                                    <span class="h6">NT$ 450</span>
                                </div>
                            </div>
                            <div class="cart-left-right d-flex justify-content-center align-items-center">
                                <button class="btn btn-outline-hex rounded-0">-</button>
                                <input type="text" class="form-control input-number" value="2">
                                <button class="btn btn-outline-hex rounded-0">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="cart-right d-flex justify-content-between align-items-center">
                        <span class="h5 mb-0 mr-md-3 pr-5">NT$ 900</span>
                        <a href="#" class="text-hex d-none d-md-block"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>            
            </div>
            <div class="col-md-4">
                <div class="bg-hex text-white p-3">
                    <h4 class="text-center">訂單摘要</h4>
                    <hr class="bg-white">
                    <div class="d-flex justify-content-between mb-2">
                        <span>小計</span>
                        <span>NT$ 2,700</span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span>運費</span>
                        <span>NT$ 300</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <span class="h5">總計</span>
                        <span class="h5">NT$ 3000</span>
                    </div>
                </div>
                <div class="text-hex">
                    <a href="" class="btn btn-egg btn-block btn-lg rounded-0">結帳</a>
                </div>
            </div>
            
        </div>
    </div>

    <section class="py-5 bg-hex">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 d-flex align-items-center justify-content-center">
                    <img class="mr-3" src="../img/logo-light.svg" width="40" height="40" alt="">
                    <span class="text-white h4">訂閱你我的甜蜜郵件</span>
                </div>
                <div class="col-md-5 mt-3 mt-md-0">
                    <div class="bg-primary-lighter form-square text-hex d-flex justify-content-between">
                        <label class="h-100 form-square-icon-left" for=""><i class="fas fa-envelope fa-lg "></i></label>
                        <input type="text" class="form-input py-3 w-100 text-left rounded-0" value="" placeholder="請輸入Email">
                        <button class="btn btn-egg btn-lg rounded-0"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <footer class="py-4 bg-primary-lighter text-hex">
          <div class="container">

              <div class="row justify-content-center">
                  <div class="col-md-5 d-flex flex-column justify-content-between">
                      <div>
                          <img src="../img/logotype-sm-dark.svg" height="27" alt="">
                      </div>
                      <ul class="list-unstyled mt-5">
                        <li>07-1234-5678</li>
                        <li>sweetaste@email.com</li>
                        <li>800 高雄市新興區幸福路 520 號</li>
                    </ul>
                  </div>
                  <div class="col-md-5 text-right d-none d-md-block">
                      <div>
                          <img src="../img/sm-今天是個吃甜點的好日子.svg" width="60" alt="">
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center mt-4">
                  <div class="col-md-5 mt-2">
                      <img src="../img/ic-facebook.svg" width="32" height="32" alt="">
                      <img src="../img/ic-line@.svg" width="32" height="32" alt="">
                  </div>
                  <div class="col-md-5 text-md-right mt-3 mt-md-2">
                      <span>© 2018 Sweetaste* All Rights Reserved</span>
                  </div>
              </div>
          </div>
      </footer>


    <!-- build:dev_js -->
    <script src="./js/vendor.js"></script>
    <!-- endbuild -->
    <!-- build:prod_js -->
    <!-- endbuild -->
    
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/963fe90d28.js" crossorigin="anonymous"></script>
</body>

</html>