<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout3</title>
    <!-- build:prod_css -->
    <!-- endbuild -->

    <!-- build:dev_css -->
    <link rel="stylesheet" href="../../public/css/all.css" />
    <link rel="stylesheet" href="../../public/css/index.css" />
    <!-- endbuild -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
        <div class="container d-flex">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand d-none d-md-block" href="./index.html">
                <img src="../img/logo-all-dark.svg" width="220" alt="">
            </a>
            <a class="navbar-brand d-block d-md-none" href="#">
                <img src="../img/logotype.svg" width="117" alt="">
            </a>
            <div class="order-md-1">
                <a href="./cart.html">
                    <i class="fas fa-shopping-cart fa-lg text-hex"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./product.html">甜點</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./login.html">登入</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="text-hide">餅乾屋</h1>
    <main class="container px-0 px-md-3 mb-5">
        <div class="header-banner bg-cover row justify-content-center align-items-center" style="background-image: url(../img/photo-1505935428862-770b6f24f629.jpeg);">
            <div>
                <div class="px-5">
                    <div class="trans-pay-reverse d-flex align-items-center justify-content-between h-100 w-100 text-white">
                        <i class="fonticon-reverse fas fa-check-circle fa-lg"></i>
                        <i class="fonticon-reverse fas fa-check-circle fa-lg"></i>
                        <i class="fonticon-reverse fas fa-check-circle fa-lg"></i>
                    </div>
                </div>
                <p class="display-3 text-hex mt-4 text-center px-5">付款成功</p>
                <a href="./index.html" class="btn btn-egg btn-block btn-lg px-5">繼續逛逛</a>
            </div>
        </div>
    </main>



    <section class="py-5 bg-hex mt-md-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 d-flex align-items-center justify-content-center">
                    <img class="mr-3" src="../img/logo-light.svg" width="40" height="40" alt="">
                    <span class="text-white h4">訂閱你我的甜蜜郵件</span>
                </div>
                <div class="col-md-5 mt-3 mt-md-0">
                    <div class="bg-primary-lighter form-square text-hex d-flex justify-content-between">
                        <label class="h-100 form-square-icon-left" for=""><i class="fas fa-envelope fa-lg "></i></label>
                        <input type="text" class="form-input py-3 w-100 text-left rounded-0" value="" placeholder="請輸入Email">
                        <button class="btn btn-egg btn-lg rounded-0"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <footer class="py-4 bg-primary-lighter text-hex">
          <div class="container">

              <div class="row justify-content-center">
                  <div class="col-md-5 d-flex flex-column justify-content-between">
                      <div>
                          <img src="../img/logotype-sm-dark.svg" height="27" alt="">
                      </div>
                      <ul class="list-unstyled mt-5">
                        <li>07-1234-5678</li>
                        <li>sweetaste@email.com</li>
                        <li>800 高雄市新興區幸福路 520 號</li>
                    </ul>
                  </div>
                  <div class="col-md-5 text-right d-none d-md-block">
                      <div>
                          <img src="../img/sm-今天是個吃甜點的好日子.svg" width="60" alt="">
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center mt-4">
                  <div class="col-md-5 mt-2">
                      <img src="../img/ic-facebook.svg" width="32" height="32" alt="">
                      <img src="../img/ic-line@.svg" width="32" height="32" alt="">
                  </div>
                  <div class="col-md-5 text-md-right mt-3 mt-md-2">
                      <span>© 2018 Sweetaste* All Rights Reserved</span>
                  </div>
              </div>
          </div>
      </footer>


    <!-- build:dev_js -->
    <script src="./js/vendor.js"></script>
    <!-- endbuild -->
    <!-- build:prod_js -->
    <!-- endbuild -->
    
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/963fe90d28.js" crossorigin="anonymous"></script>
</body>

</html>