<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produect</title>
    <!-- build:prod_css -->
    <!-- endbuild -->

    <!-- build:dev_css -->
    <link rel="stylesheet" href="../../public/css/all.css" />
    <link rel="stylesheet" href="../../public/css/index.css" />
    <!-- endbuild -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
        <div class="container d-flex">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand d-none d-md-block" href="./index.html">
                <img src="../img/logo-all-dark.svg" width="220" alt="">
            </a>
            <a class="navbar-brand d-block d-md-none" href="#">
                <img src="../img/logotype.svg" width="117" alt="">
            </a>
            <div class="order-md-1">
                <a href="./cart.html">
                    <i class="fas fa-shopping-cart fa-lg text-hex"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">首頁</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./product.html">甜點 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./login.html">登入</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="text-hide">餅乾屋</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 px-0 px-md-2">
                <div class="px-5 py-3 bg-hex">
                    <div class="form-row">
                        <div class="col-6">
                            <div class="h1 text-lighter py-3">付款</div>
                        </div>
                        <div class="col-6">
                            <div class="trans-pay  d-flex align-items-center justify-content-between h-100 w-100 text-white">
                                <i class="fonticon fas fa-check-circle"></i>
                                <i class="fonticon fas fa-circle"></i>
                                <i class="fonticon far fa-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="h4 text-white" for="lastname">信用卡卡號</label>
                        <!-- <input type="text" class="form-control bg-primary-lighter form-control-lg rounded-0" id="lastname" aria-describedby="lastname"> -->
                        <div class="input-group mb-3">
                            <input type="text" class="form-control bg-primary-lighter form-control-lg rounded-0" placeholder="1234-XXXX-XXXX-1234">
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon2"><i class="far fa-credit-card text-hex"></i></i></span>
                            </div>
                        </div>                                  
                    </div>
                    <div>
                        <label class="h4 text-white" for="lastname">持卡人姓名</label>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <input type="text" class="form-control bg-primary-lighter form-control-lg rounded-0" id="lastname" placeholder="王" aria-describedby="lastname">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <input type="text" class="form-control bg-primary-lighter form-control-lg rounded-0" id="firstname" placeholder="小明" aria-describedby="firstname">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="h4 text-white" for="lastname">有效期限</label>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <input type="text" class="form-control bg-primary-lighter form-control-lg rounded-0" id="card-month" placeholder="月" aria-describedby="card-month">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <input type="text" class="form-control bg-primary-lighter form-control-lg rounded-0" id="card-year" placeholder="年" aria-describedby="card-year">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="h4 text-white" for="lastname">CVC</label>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <input type="text" class="form-control bg-primary-lighter form-control-lg rounded-0" id="CVC" placeholder="XXX" aria-describedby="card-month">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="btn btn-egg text-hex bg-egg btn-block btn-lg py-3" href="./checkout3.html">下一步</a>
                </div>
            </div>
            <div class="col-md-4 d-none d-md-block">
                <div class="checklist mb-md-3">
                    <h3 class="text-center bg-primary-lighter py-3">訂單摘要</h3>
                    <div class="p-3">
                        <div class="d-flex justify-content-between my-1">
                            <span class="h6">小計</span>
                            <span class="h6">NT$ 2,700</span>
                        </div>
                        <div class="d-flex  justify-content-between my-1">
                            <span class="h6">運費</span>
                            <span class="h6">NT$ 300</span>
                        </div>
                        <div class="d-flex  justify-content-between my-1">
                            <span class="h5">總計</span>
                            <span class="h5">NT$ 3000</span>
                        </div>
                    </div>
                </div>
                <div class="checkmenu">
                    <h3 class="text-center bg-primary-lighter py-3">購物清單</h3>
                    <div class="p-1">
                        <div class="d-flex justify-content-start my-1">
                            <div class="mr-2 px-2">
                                <div class="checkmenu-image" style="background-image: url(../img/photo-1490474504059-bf2db5ab2348.jpeg);"></div>
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <span class="h4">抹茶馬卡龍 (2)</span>
                                <span class="h6">NT$ 450</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start my-1 py-2">
                            <div class="mr-2 px-2">
                                <div class="checkmenu-image" style="background-image: url(../img/photo-1474045326708-cdc78c2487cb.jpeg);"></div>
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <span class="h4">抹茶馬卡龍 (2)</span>
                                <span class="h6">NT$ 450</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start my-1 py-2">
                            <div class="mr-2 px-2">
                                <div class="checkmenu-image" style="background-image: url(../img/photo-1490474504059-bf2db5ab2348.jpeg);"></div>
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <span class="h4">抹茶馬卡龍 (2)</span>
                                <span class="h6">NT$ 450</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="py-5 bg-hex mt-md-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 d-flex align-items-center justify-content-center">
                    <img class="mr-3" src="../img/logo-light.svg" width="40" height="40" alt="">
                    <span class="text-white h4">訂閱你我的甜蜜郵件</span>
                </div>
                <div class="col-md-5 mt-3 mt-md-0">
                    <div class="bg-primary-lighter form-square text-hex d-flex justify-content-between">
                        <label class="h-100 form-square-icon-left" for=""><i class="fas fa-envelope fa-lg "></i></label>
                        <input type="text" class="form-input py-3 w-100 text-left rounded-0" value="" placeholder="請輸入Email">
                        <button class="btn btn-egg btn-lg rounded-0"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <footer class="py-4 bg-primary-lighter text-hex">
          <div class="container">

              <div class="row justify-content-center">
                  <div class="col-md-5 d-flex flex-column justify-content-between">
                      <div>
                          <img src="../img/logotype-sm-dark.svg" height="27" alt="">
                      </div>
                      <ul class="list-unstyled mt-5">
                        <li>07-1234-5678</li>
                        <li>sweetaste@email.com</li>
                        <li>800 高雄市新興區幸福路 520 號</li>
                    </ul>
                  </div>
                  <div class="col-md-5 text-right d-none d-md-block">
                      <div>
                          <img src="../img/sm-今天是個吃甜點的好日子.svg" width="60" alt="">
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center mt-4">
                  <div class="col-md-5 mt-2">
                      <img src="../img/ic-facebook.svg" width="32" height="32" alt="">
                      <img src="../img/ic-line@.svg" width="32" height="32" alt="">
                  </div>
                  <div class="col-md-5 text-md-right mt-3 mt-md-2">
                      <span>© 2018 Sweetaste* All Rights Reserved</span>
                  </div>
              </div>
          </div>
      </footer>


    <!-- build:dev_js -->
    <script src="./js/vendor.js"></script>
    <!-- endbuild -->
    <!-- build:prod_js -->
    <!-- endbuild -->
    
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/963fe90d28.js" crossorigin="anonymous"></script>
</body>

</html>