<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- build:prod_css -->
    <!-- endbuild -->

    <!-- build:dev_css -->
    <link rel="stylesheet" href="../../public/css/all.css" />
    <link rel="stylesheet" href="../../public/css/index.css" />
    <!-- endbuild -->
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/963fe90d28.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
        <div class="container d-flex">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../img/logo-all-dark.svg" width="220" alt="">
            </a>
            <div class="order-md-1">
                <i class="fas fa-shopping-cart fa-lg text-hex"></i>
            </div>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">首頁 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">甜點</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">登入</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="text-hide">餅乾屋</h1>
    <main class="container">
        <div>
            <div class="header-banner bg-cover"></div>
        </div>
        <div class="container">
            <div class="row header-menu no-gutters justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <a href="" class="col-4 header-image-wrap">
                            <span class="header-image-text">本日精選</span>
                            <div class="header-image-cover zindex--1"></div>
                            <div class="header-image bg-cover"
                                style="background-image: url(../img/photo-1504473089979-b1c4993a9653.jpeg);"></div>
                        </a>
                        <a href="" class="col-4 header-image-wrap">
                            <span class="header-image-text">人氣推薦</span>
                            <div class="header-image-cover zindex--1"></div>
                            <div class="header-image bg-cover"
                                style="background-image: url(../img/photo-1525059337994-6f2a1311b4d4.jpeg);"></div>
                        </a>
                        <a href="" class="col-4 header-image-wrap">
                            <span class="header-image-text">新品上市</span>
                            <div class="header-image-cover zindex--1"></div>
                            <div class="header-image bg-cover"
                                style="background-image: url(../img/photo-1490914327627-9fe8d52f4d90.jpeg);"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="section-ad-one my-md-9">
        <div class="bg-primary-lighter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 break-vertical-block">
                        <div class="bg-cover h-100 section-intro-image" style="background-image: url(../img/photo-1519730722595-a5ff788dea4d.jpeg);"></div>
                    </div>
                    <div class="col-md-6 vertical-content d-flex justify-content-end">
                        <div class="writing-md-vertical text-primary-light py-md-7 mr-auto">
                            <p>青山依舊在，幾度夕陽紅。慣看秋月春風。</p>
                            <p>一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
                            <p>是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
                        </div>
                        <div class="break-vertical-block">
                            <img src="../img/lg-為什麼選擇了做甜點.svg" width="88" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-ad-one my-md-9">
        <div class="bg-primary-lighter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 vertical-content d-flex justify-content-end">
                        <div class="writing-md-vertical text-primary-light py-md-7 mr-auto">
                            <p>青山依舊在，幾度夕陽紅。慣看秋月春風。</p>
                            <p>一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
                            <p>是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
                        </div>
                        <div class="break-vertical-block">
                            <img src="../img/lg-為什麼一定要吃甜點.svg" width="88" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 break-vertical-block">
                        <div class="bg-cover h-100 section-intro-image" style="background-image: url(../img/photo-1501432781167-c0ccfd492297.jpeg);"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center py-5 my-md-9">
        <div>
            <img src="../img/lg-想吃甜點是不需要理由的.svg" class="img-fluid d-inline-block" width="86" alt="">
        </div>
    </section>
    <section class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <div class="item-card">
                    <div class="bg-cover item-image" style="background-image: url(../img/photo-1534073737927-85f1ebff1f5d.jpeg);">
                        <div class="item-tag">本日精選</div>
                        <div class="item-stared-icon">
                            <div class="item-stared-check active"><i class="fas fa-heart fa-lg"></i></div>
                            <div class="item-stared-check d-none"><i class="far fa-heart fa-lg"></i></div>
                        </div>
                    </div>
                    <div class="item-body d-flex text-center">
                        <div class="item-name py-3 col">焦糖馬卡龍</div>
                        <div class="item-price py-3 col">$450</div>
                    </div>
                    <a class="btn-lg btn-primary-light btn btn-block rounded-0">加入購物車</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item-card">
                    <div class="bg-cover item-image" style="background-image: url(../img/photo-1525059337994-6f2a1311b4d4.jpeg);">
                        <div class="item-tag">本日精選</div>
                        <div class="item-stared-icon">
                            <div class="item-stared-check active d-none"><i class="fas fa-heart fa-lg"></i></div>
                            <div class="item-stared-check"><i class="far fa-heart fa-lg"></i></div>
                        </div>
                    </div>
                    <div class="item-body d-flex text-center">
                        <div class="item-name py-3 col">焦糖馬卡龍</div>
                        <div class="item-price py-3 col">$450</div>
                    </div>
                    <a class="btn-lg btn-primary-light btn btn-block rounded-0">加入購物車</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item-card">
                    <div class="bg-cover item-image" style="background-image: url(../img/photo-1490474504059-bf2db5ab2348.jpeg);">
                        <div class="item-tag">本日精選</div>
                        <div class="item-stared-icon">
                            <div class="item-stared-check active d-none"><i class="fas fa-heart fa-lg"></i></div>
                            <div class="item-stared-check"><i class="far fa-heart fa-lg"></i></div>
                        </div>
                    </div>
                    <div class="item-body d-flex text-center">
                        <div class="item-name py-3 col">焦糖馬卡龍</div>
                        <div class="item-price py-3 col">$450</div>
                    </div>
                    <a class="btn-lg btn-primary-light btn btn-block rounded-0">加入購物車</a>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 bg-hex">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../img/logo-light.svg" width="40" height="40" alt="">
                </div>
                <div class="col-md-6">
                    <label class="bg-primary-lighter h-100" for=""><i class="fas fa-envelope"></i></label>
                    <input type="text" class="btn btn-primary-light btn-lg" value="123">
                </div>
            </div>
        </div>
      </section>


    <!-- build:dev_js -->
    <script src="./js/vendor.js"></script>
    <!-- endbuild -->
    <!-- build:prod_js -->
    <!-- endbuild -->
</body>

</html>