<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!-- build:prod_css -->
    <!-- endbuild -->

    <!-- build:dev_css -->
    <link rel="stylesheet" href="../../public/css/all.css" />
    <link rel="stylesheet" href="../../public/css/index.css" />
    <!-- endbuild -->
</head>

<body>


    <!-- build:dev_js -->
    <script src="./js/vendor.js"></script>
    <!-- endbuild -->
    <!-- build:prod_js -->
    <!-- endbuild -->
    
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/963fe90d28.js" crossorigin="anonymous"></script>
</body>

</html>