<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produect</title>
    <!-- build:prod_css -->
    <!-- endbuild -->

    <!-- build:dev_css -->
    <link rel="stylesheet" href="../../public/css/all.css" />
    <link rel="stylesheet" href="../../public/css/index.css" />
    <!-- endbuild -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
        <div class="container d-flex">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand d-none d-md-block" href="./index.html">
                <img src="../img/logo-all-dark.svg" width="220" alt="">
            </a>
            <a class="navbar-brand d-block d-md-none" href="#">
                <img src="../img/logotype.svg" width="117" alt="">
            </a>
            <div class="order-md-1">
                <a href="./cart.html">
                    <i class="fas fa-shopping-cart fa-lg text-hex"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">首頁</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./product.html">甜點 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./login.html">登入</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="text-hide">餅乾屋</h1>
    <main class="container px-0 px-md-3 mb-5">
        <div>
            <div class="header-banner bg-cover" style="background-image: url(../img/photo-1512484457149-266d165a4eca.jpeg);">
            <div class="header-banner-title">
                <img src="../img/lg-想吃甜點是不需要理由的.svg" width="89" alt="">
            </div>
            </div>
        </div>
    </main>

    <section class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h2 class="bg-hex mb-0 text-white text-center p-3">甜點類別</h2>
                <div class="list-group">
                    <a class="list-group-item active h4">所有甜點（48）</a>
                    <a class="list-group-item h4">本日精選（10）</a>
                    <a class="list-group-item h4">人氣推薦（26）</a>
                    <a class="list-group-item h4">新品上市（12）</a>
                  </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="item-card">
                            <div class="bg-cover item-image" style="background-image: url(../img/photo-1490474504059-bf2db5ab2348.jpeg);">
                                <div class="item-tag">本日精選</div>
                                <div class="item-stared-icon">
                                    <div class="item-stared-check active d-none"><i class="fas fa-heart fa-lg"></i></div>
                                    <div class="item-stared-check"><i class="far fa-heart fa-lg"></i></div>
                                </div>
                            </div>
                            <div class="item-body d-flex text-center">
                                <div class="item-name py-3 col">焦糖馬卡龍</div>
                                <div class="item-price py-3 col">$450</div>
                            </div>
                            <a class="btn-lg btn-primary-light btn btn-block rounded-0">加入購物車</a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="item-card">
                            <div class="bg-cover item-image" style="background-image: url(../img/photo-1525059337994-6f2a1311b4d4.jpeg);">
                                <div class="item-tag">本日精選</div>
                                <div class="item-stared-icon">
                                    <div class="item-stared-check active d-none"><i class="fas fa-heart fa-lg"></i></div>
                                    <div class="item-stared-check"><i class="far fa-heart fa-lg"></i></div>
                                </div>
                            </div>
                            <div class="item-body d-flex text-center">
                                <div class="item-name py-3 col">焦糖馬卡龍</div>
                                <div class="item-price py-3 col">$450</div>
                            </div>
                            <a class="btn-lg btn-primary-light btn btn-block rounded-0">加入購物車</a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="item-card">
                            <div class="bg-cover item-image" style="background-image: url(../img/photo-1490474504059-bf2db5ab2348.jpeg);">
                                <div class="item-tag">本日精選</div>
                                <div class="item-stared-icon">
                                    <div class="item-stared-check active d-none"><i class="fas fa-heart fa-lg"></i></div>
                                    <div class="item-stared-check"><i class="far fa-heart fa-lg"></i></div>
                                </div>
                            </div>
                            <div class="item-body d-flex text-center">
                                <div class="item-name py-3 col">焦糖馬卡龍</div>
                                <div class="item-price py-3 col">$450</div>
                            </div>
                            <a class="btn-lg btn-primary-light btn btn-block rounded-0">加入購物車</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col d-flex justify-content-end">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination pagination-lg">
                              <li class="page-item">
                                <a class="page-link text-hex" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link text-hex" href="#">1</a></li>
                              <li class="page-item"><a class="page-link text-hex" href="#">2</a></li>
                              <li class="page-item"><a class="page-link text-hex" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link text-hex" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 bg-hex">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 d-flex align-items-center justify-content-center">
                    <img class="mr-3" src="../img/logo-light.svg" width="40" height="40" alt="">
                    <span class="text-white h4">訂閱你我的甜蜜郵件</span>
                </div>
                <div class="col-md-5 mt-3 mt-md-0">
                    <div class="bg-primary-lighter form-square text-hex d-flex justify-content-between">
                        <label class="h-100 form-square-icon-left" for=""><i class="fas fa-envelope fa-lg "></i></label>
                        <input type="text" class="form-input py-3 w-100 text-left rounded-0" value="" placeholder="請輸入Email">
                        <button class="btn btn-egg btn-lg rounded-0"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <footer class="py-4 bg-primary-lighter text-hex">
          <div class="container">

              <div class="row justify-content-center">
                  <div class="col-md-5 d-flex flex-column justify-content-between">
                      <div>
                          <img src="../img/logotype-sm-dark.svg" height="27" alt="">
                      </div>
                      <ul class="list-unstyled mt-5">
                        <li>07-1234-5678</li>
                        <li>sweetaste@email.com</li>
                        <li>800 高雄市新興區幸福路 520 號</li>
                    </ul>
                  </div>
                  <div class="col-md-5 text-right d-none d-md-block">
                      <div>
                          <img src="../img/sm-今天是個吃甜點的好日子.svg" width="60" alt="">
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center mt-4">
                  <div class="col-md-5 mt-2">
                      <img src="../img/ic-facebook.svg" width="32" height="32" alt="">
                      <img src="../img/ic-line@.svg" width="32" height="32" alt="">
                  </div>
                  <div class="col-md-5 text-md-right mt-3 mt-md-2">
                      <span>© 2018 Sweetaste* All Rights Reserved</span>
                  </div>
              </div>
          </div>
      </footer>


    <!-- build:dev_js -->
    <script src="./js/vendor.js"></script>
    <!-- endbuild -->
    <!-- build:prod_js -->
    <!-- endbuild -->
    
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/963fe90d28.js" crossorigin="anonymous"></script>
</body>

</html>